@font-face {
    font-family: redOctober;
    src: url(./Redoctober-jzXO.otf);
}

body {
    background-color: rgb(170, 16, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}


div {
    color: white;
    flex-direction: column;
    background: rgb(70, 70, 70);
    border-radius: 15px;
    border: 3px black solid;
    width: 50%;
    min-height: 80px;
    padding: 3em;
    margin-top: 5em;
    align-self: center;
}

h1 {
    margin-block-start: 0;
    font-family: redOctober;
    font-size: 1.75em;
}

p {
    font-family: 'Bebas Neue';
    font-size: 1.35em;
    margin: 0;
}

button {
    margin-bottom: 1em;
}

button:hover {
    border: 2px solid red;
    cursor: pointer;
}
