<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./static/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="icon" href="./static/favicon.ico" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marxbot9001</title>
  </head>
  <body>
    <div class="container">
      <button onclick="window.location.reload()">Break your chains! Seize the means of text production!</button>
      <h1>Marxbot9001's latest contribution to the collective consciousness: </h1>
      <p>{{sentence}}</p>
    </div>
  </body>
</html>
